<div style="height: 100vh;">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Berzele depun oua viiiii</span>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button [matMenuTriggerFor]="maps">
                <mat-icon>list</mat-icon>
                Map Type
            </a>
            <mat-menu #maps="matMenu">
                <button *ngFor="let baseMap of baseMapTypes" mat-menu-item (click)="changeBaseMapType(baseMap.name)">
                    <img src="{{baseMap.img}}">
                    <span> {{baseMap.name}} </span>
                </button>
            </mat-menu>
            <a mat-button [matMenuTriggerFor]="filter">
                <mat-icon>filter_list</mat-icon>
                Filters
            </a>
            <mat-menu #filter="matMenu">
                <mat-checkbox class="mat-menu-item" (click)="$event.stopPropagation();"
                    [labelPosition]="'after'"
                    [checked]="setAllFilters"
                    [indeterminate]="someSet()"
                    (change)="setAll()">
                Set all
                </mat-checkbox>
                <ul>
                    <li *ngFor="let filter of filters">
                        <mat-checkbox class="mat-menu-item"
                            [checked]="filter.completed" 
                            (click)="$event.stopPropagation();"
                            (change)="updateFilters(filter)">
                            {{filter.name}}
                        </mat-checkbox>
                    </li>
                  </ul>
                  <button mat-menu-item (click)="applyFilters()">
                    Apply filters
                </button>
            </mat-menu>
            <a (click)="auth.logout()" mat-button>
                <mat-icon>exit_to_app</mat-icon>
                Log out
            </a>
            
        </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
        <mat-nav-list>
            <a (click)="menuTrigger.openMenu()" mat-list-item>
                <mat-icon>list</mat-icon>
                Map Type
                <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="mapsMobile"></div>
            </a>
            <mat-menu #mapsMobile="matMenu">
                <button *ngFor="let baseMap of baseMapTypes" mat-menu-item (click)="changeBaseMapType(baseMap.name)">
                    <img src="{{baseMap.img}}">
                    {{baseMap.name}}
                </button>
            </mat-menu>
            
            <a (click)="menuTriggerFilterMobile.openMenu()" mat-list-item>
                <mat-icon>filter_list</mat-icon>
                Filters
                <div #menuTriggerFilterMobile="matMenuTrigger" [matMenuTriggerFor]="filtersMobile"></div>
            </a>
            <mat-menu #filtersMobile="matMenu">
                <mat-checkbox class="mat-menu-item" (click)="$event.stopPropagation();"
                    [labelPosition]="'after'"
                    [checked]="setAllFilters"
                    [indeterminate]="someSet()"
                    (change)="setAll()">
                Set all
                </mat-checkbox>
                <ul>
                    <li *ngFor="let filter of filters">
                        <mat-checkbox class="mat-menu-item"
                            [checked]="filter.completed" 
                            (click)="$event.stopPropagation();"
                            (change)="updateFilters(filter)">
                            {{filter.name}}
                        </mat-checkbox>
                    </li>
                  </ul>
                  <button mat-menu-item (click)="applyFilters()">
                    Apply filters
                </button>
            </mat-menu>
            <a (click)="auth.logout()" mat-list-item>
                <mat-icon>exit_to_app</mat-icon>
                Log out
            </a>
            <a (click)="sidenav.toggle()" mat-list-item>
                <mat-icon>close</mat-icon> 
                Close
            </a>
        </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
        <app-map
            [center]="mapCenter"
            [basemap]="basemapType"
            [zoom]="mapZoomLevel"
        >
        </app-map>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>